.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.newline {
    white-space: pre-line;
}

.foodQuantityControl {
    width: 7em;
}

.entryGroup-button {
    width: 10em;
    height: 3em;
    font-size: 30px;
}

.entryGroup-button p {
    margin: 0;
}

.hidden-element {
    display: none;
}

.menu-page {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    padding-left: 80px;
}

.foodImg {
    height: 100%;
}

.card-body {
    overflow: scroll;
    word-break: break-all;
}

.card-body.menu {
    height: 200px;
}

.card-footer {
    height: 65px;
}

.menu-category {
    width: 30%;
    margin-bottom: 30px;
}

.menu-container {
    margin: 0 100px 0 100px;
}

.customCard {
    transition: box-shadow 0.3s;
    background-color: white;
    color: #3b3440;
    width: 23%;
    height: fit-content;
    border-radius: 12px;
    margin-top: 2em;
}

.customCard:hover {
    cursor: pointer;
    transition: box-shadow 0.3s;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.customCard:active {
    box-shadow: 0 0 0 transparent;
}

.cardImgContainer {
    overflow: hidden;
    border-radius: 12px;
}

.cardTextContainer {
    padding: 10px 16px 0 16px;
}

.cardButton {
    font-size: 14px;
    background-color: #c4d7ed;
    width: fit-content;
    padding: 0 24px 0 24px;
    height: 40px;
    border-radius: 20px;
    color: #183152;
    margin: 10px 16px 10px 16px;
}

.cardButton p {
    margin: 0;
}

.cardButton.two {
    background-color: #183152;
    color: #e1e6fa;
}

.nav-rail {
    background-color: #d5e7f2;
    width: 80px;
    position: fixed;
    height: 100%;
}

.nav-rail a {
    text-decoration: none;
}

.nav-rail-item {
    width: 100%;
    height: 56px;
    margin-bottom: 12px;
}

.nav-rail-item:hover {
    cursor: pointer;
}

.nav-rail-item.active .nav-icon-container {
    background-color: #aecce6;
}

.nav-rail-item.active:hover .nav-icon-container {
    background-color: #86afd3;
}

.nav-rail-item.active:active .nav-icon-container {
    background-color: #aecce6;
}

.nav-rail-item:hover .nav-icon-container {
    background-color: #ffffff80;
}

.nav-rail-item:active .nav-icon-container {
    background-color: transparent;
}

.nav-rail-item h2 {
    font-size: 12px;
    margin: 0;
}

.nav-rail-item h2,
i {
    color: #243340;
}

.nav-icon-container {
    height: 32px;
    width: 56px;
    border-radius: 16px;
}
